@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>I like to program.</p>

<h2>My Relevant Skills</h2>
<div class="row">

    <div class="well col-md-3">
        <h3>Languages</h3>
        <ul>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>C#</li>
        </ul>
    </div>

    <div class="well col-md-3">
        <h3>Frameworks</h3>
        <ul>
            <li>Angular</li>
            <li>Flask</li>
            <li>Spring</li>
            <li>.NET</li>
        </ul>
    </div>

    <div class="well col-md-3">
        <h3>Web Developement</h3>
        <ul>
            <li>SQL</li>
            <li>Git and GitHub</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </div>

</div>



<h2>My Work History</h2>
<div class="row">

    <div class="well col-md-3">
        <h3>nLight Photonics</h3>
        <p>Manufacturing Technician</p>
        <p>2010-2017</p>
        <ul>
            <li>Software Configuration and Support</li>
            <li>Inventory Management</li>
            <li>Manufacturing Production Knowledge</li>
        </ul>
    </div>

    <div class="well col-md-3">
        <h3>Flextronics Photonics</h3>
        <p>Team Lead III</p>
        <p>2001-2004</p>
        <ul>
            <li>Led a manufacturing production line</li>
            <li>Determined best allocation of resources to meet manufacturing goals</li>
        </ul>
    </div>

    <div class="well col-md-3">
        <h3>Precision Interconnect</h3>
        <p>Assembler III</p>
        <p>1996-1999</p>
        <ul>
            <li>Performed troubleshooting diagnoses of cables being tested</li>
            <li>Wrote test reports</li>
            <li>Wrote and proofread work instructions</li>

        </ul>
    </div>

</div>

<h2>Education</h2>
<div class="row">

    <div class="well col-md-3">
        <h3>Epicodus</h3>
        <p>2018</p>
        <p>Computer Programming & Software Development</p>
    </div>

    <div class="well col-md-3">
        <h3>LaunchCode</h3>
        <p>2017</p>
        <p>Computer Programming & Software Development</p>
    </div>

    <div class="well col-md-3">
        <h3>Art Institute of Portland</h3>
        <p>2005-2007</p>
        <p>Bachelor of Science (BS), Interior Design</p>
    </div>

    <div class="well col-md-3">
        <h3>Lewis & Clark College</h3>
        <p>1991-1996</p>
        <p>Bachelor of Arts (BA), Psychology major, English minor</p>
    </div>

</div>

