@{
    ViewData["Title"] = "About";
}

<h2>My Relevant Skills</h2>
<div class="row">

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>Languages</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>JavaScript</li>
                <li>Python</li>
                <li>Java</li>
                <li>C#</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>Frameworks</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Angular</li>
                <li>Flask</li>
                <li>Spring</li>
                <li>.NET</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>Web Developement</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>SQL</li>
                <li>Git and GitHub</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </div>

    </div>



<h2>My Work History</h2>
<div class="row">

    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3>nLight Photonics</h3>
            <p>Manufacturing Technician</p>
        </div>
        <div class="panel-body">
            <p>2010-2017</p>
            <ul>
                <li>Software Configuration and Support</li>
                <li>Inventory Management</li>
                <li>Manufacturing Production Knowledge</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3>Flextronics Photonics</h3>
            <p>Team Lead III</p>
        </div>
        <div class="panel-body">
            <p>2001-2004</p>
            <ul>
                <li>Led a manufacturing production line</li>
                <li>Determined best allocation of resources to meet manufacturing goals</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3>Precision Interconnect</h3>
            <p>Assembler III</p>
        </div>
        <div class="panel-body">
            <p>1996-1999</p>
            <ul>
                <li>Troubleshot cables being tested</li>
                <li>Wrote test reports</li>
                <li>Wrote and proofread work instructions</li>
            </ul>
        </div>
    </div>

    </div>

<h2>Education</h2>
<div class="row">

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>Epicodus</h3>
        </div>
        <div class="panel-body">
            <p>2018</p>
            <p>Computer Programming & Software Development</p>
        </div>
    </div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>LaunchCode</h3>
        </div>
        <div class="panel-body">
            <p>2017</p>
            <p>Computer Programming & Software Development</p>
        </div>
    </div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>Art Institute of Portland</h3>
        </div>
        <div class="panel-body">
            <p>2005-2007</p>
            <p>Bachelor of Science (BS), Interior Design</p>
        </div>
    </div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <h3>Lewis & Clark College</h3>
        </div>
        <div class="panel-body">
            <p>1991-1996</p>
            <p>Bachelor of Arts (BA), Psychology major, English minor</p>
        </div>
    </div>

    </div>

