@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>email:</strong> <a href="mailto:sara@indeterminate.net">sara@indeterminate.net</a><br />
</address>

<h3>Github</h3>
<p>https://github.com/Sara-Hamilton</p>

<h3>LinkedIn</h3>
<p>https://www.linkedin.com/in/sara-hamilton/</p>
