
@{
}

@model IEnumerable<SaraHamilton.Models.GitHubRepos>

<h2>My Top 3 Starred GitHub Repositories</h2>

<ul>
    @foreach (var repo in Model)
    {
        DateTime parsedDate = DateTime.Parse(repo.Created_At);
        string shortDate = parsedDate.ToString("MM/dd/yyyy");

        <hr />
        <li> Repo Name: <a href=@repo.Html_Url target="_blank"> @Html.DisplayFor(modelItem => repo.Name)</a></li>
        <li>Created Date: @Html.DisplayFor(modelItem => shortDate)</li>
        <li>Description: @Html.DisplayFor(modelItem => repo.Description)</li>
        <li>Language: @Html.DisplayFor(modelItem => repo.Language)</li>
    }
</ul>