@{
    ViewData["Title"] = "Home Page";
}

<h1>Sara Hamilton</h1>

<img  src="https://avatars0.githubusercontent.com/u/27834688?s=460&v=4" alt="Sara Hamilton" />

<div class="row">
    <div class="col-md-6">
        </br>
        <p>I am a web developer who enjoys solving puzzles and learning new things.</p>
        <p>I find computer programming and software development to be the perfect combination of puzzle solving, logic, organization, and design.</p>
        <p>I derive joy from creating well-written, well-designed, and well-crafted code.</p>
        <p>When I'm not coding, I enjoy solving crossword and sudoku puzzles, traveling, and taking long walks</p>
    </div>
</div>
